@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root{
    
    --heading-font: "Poppins", sans-serif;
    --body-font: "Open Sans", sans-serif;

    --Violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    font-family: var(--body-font);

    color: white;

    background-image: url(./images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--Violet);

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

}
.body__container{
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 4rem;

    margin-inline: 3rem;
    max-width: 1440px;
    
}
.header{
    width: 100%;
}
.header img{
    display: block;
}
.container{
    display: flex;
    width: 100%;
}
.section__left__img{
    width: 50%;
}
.section__left__img img{
    width: 100%;
}
.section__right{
    padding: 3rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.section__title{
    font-family: var(--heading-font);
    font-weight: 600;
    font-size: 2.75rem;
}
.section__text{
    font-size: 19px;
    font-weight: 400;
}
.section__button{
    border: 0;
    border-radius: 9999px;
    color: var(--Violet);
    cursor: pointer;
    font-size: 18px;
    width: 200px;
    height: 56px;
    box-shadow: 0px 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}
.section__button:active{
    background-color: var(--Soft-Magenta);
    color: white;
}
.section__social{
    position: absolute;
    right: 2.25rem;
    bottom: 1rem;
    display: flex;
    gap: 1rem;
}
.icon{
    width: 42px;
    height: 42px;
    fill: white;
    cursor: pointer;
}
.icon:active{
    fill: var(--Soft-Magenta)
}

@media screen and (max-width: 1200px) {
    
    body{
        background-image: url(./images/bg-mobile.svg);
        background-size: contain;
    }
    .body__container{
        padding: 0;
    }
    .section__right{
        text-align: center;
        align-items: center;
        padding: 0;
    }
    .container{
        flex-direction: column;
        gap: 7rem;
        max-width: 592px;
        margin-block: 1rem;
    }
    .section__left__img, .section__right{
        width: 100%;
    }
    .section__title{
        font-size: 2.8rem;
    }
    .section__social{
        margin-top: 1rem;
        width: 100%;
        position: static;
        justify-content: center;
    }
    .section__text{
        padding: 0;
        line-height: 1.5;
    }
    .section__text, .section__button{
        font-size: 1.8rem;
    }
    .section__button{
        width: 400px;
        height: 80px;
    }
    .icon{
        width: 58px;
        height: 58px;
    }
}